language: python
python:
  - "3.5"

# command to install dependencies
before_install:
  - sudo apt-get update

install:
  - pip install -r requirements.txt

# command to run tests
script:
  - pytest --rootdir=custom_stream_api
  - flake8 api
