alembic==1.16.1
# asgiref==3.10.0
cron-converter==1.2.2
cryptography==45.0.2
Cython==3.1.1
discord.py==2.6.4
flask==3.1.1
flask-cors==6.0.0
Flask-SQLAlchemy==3.1.1
gevent==25.5.1
gevent-websocket==0.10.1
greenlet==3.2.2
irc==20.5.0
janus==2.0.0
psycopg2-binary==2.9.10
pyjwt==2.10.0
python-socketio==5.13.0
requests==2.32.4
SQLAlchemy==2.0.41
twitchAPI==4.5.0
webargs==8.7.0

# the asgiref library has an issue with uvicorn and reverse proxies. pointing for forked repo
git+https://github.com/b0ses/asgiref.git
