alembic==1.11.1
black==23.7.0
cryptography==2.7
Cython==0.29.35
factory-boy==3.2.1
flake8==6.0.0
flask==2.2
flask-cors==3.0.8
flask-socketio==5.2.0
Flask-SQLAlchemy==3.0.3
gevent==22.10.2
gevent-websocket==0.10.1
greenlet==2.0.1
irc
mock
psycopg2-binary==2.9.6
pyjwt==1.7.1
pytest==6.2.5
pytest-flask-sqlalchemy==1.1.0
python-socketio==5.7.2
requests
SQLAlchemy==2.0.18
uwsgi==2.0.22
